.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.hide {
    display:none
}
.notsel {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.frontend {
    padding: 80px 0 0;
    min-width: 768px;
}

.frontend *::selection {
    color: #2b3246;
    background: #ffee2f;
}

.frontend,
.frontend * {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.frontend {
    color: #2b3246;
    font: 14px/18px 'ProximaNova-Regular', sans-serif;
    position: relative;
    padding: 12px;
    -webkit-text-size-adjust:none;
}
.main {
    transition: padding-top .5s;
}
.main--bb {
    margin-bottom: 10px;
    padding-bottom: 260px;

}

.clr:after {
    clear: both;
    content: '';
    display: table;
}
.clear-both {
    clear: both;
}
.calkulator__slider-box {
    padding-top: 20px;
    position: relative;
}
.calkulator__slider-inner {
    position: relative;
    padding: 0 0 6px;

}
.calkulator__slider {
    height: 4px ;
    margin: 0 16px;
    position: relative;
}
.calkulator__slider:before {
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    bottom: 0;
    content: '';
    border-radius: 2px;
    background: #eaecee
}
.ui-slider-range {
    position: absolute;
    top: 0;
    left: -16px;
    bottom: 0;
    border-radius: 2px;
    background: #96a0aa;
}
.ui-slider-handle {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: -21px;
    margin-left: -25px;
    z-index: 2;
    opacity: .99;
    background: url(../images/slider-handle.svg) center no-repeat;
    -moz-touch-action: none;
    -webkit-touch-action: none;
    touch-action: none;
    border:none;
    outline: none;
}
.null-procent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #ffee2f
}
.null-procent:before {
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    bottom: -3px;
    content: '';
    background: rgba(255,238,47,.1);
    border-left: 1px solid #ffee2f;
    border-right: 1px solid #ffee2f;
}

.calkulator__range {
    color: #96a0aa;
    font-size: 12px;
    line-height: 24px;
    height: 19px;
    padding-top: 5px;
}
.calkulator__label {
    color: #96a0aa;
    line-height: 38px;
    height: 39px;
    padding-bottom: 50px;
}
.calkulator__label-b{
    font-size: 16px;
    width: 95px;
    white-space: nowrap;
}
.calkulator__label-right{
    margin-right:22px;
}
.calkulator__input{
    width: 86px;
    height: 34px;
    color: #2a3246;
    margin-right: 9px;
    padding-left: 10px;
    border-radius: 4px;
    background: #fbfbfc;
    border: solid 1px rgba(150,160,170,.1);
    -webkit-appearance: none;
}
.calkulator__label .suf{
    color: #2a3246;
}

.calkulator {
    width: 780px;

    margin-left: auto;
    margin-right: auto;
}
.home-calkulator .calkulator__h1{
    color: #fff;
    padding: 0 0 48px;
}
.calkulator__h1{
    color: #2b3246;
    padding: 14px 0 62px;
    text-align: center;

}
.calkulator__box {
    height: 300px;
    position: relative;
}
.calkulator__select {
    width: 220px;
    float: left;
    margin-left: 20px;
    background: #fff
}
.calkulator__select .label {
    margin: 13px 60px 12px 20px
}
.calkulator__select--first {
    margin-left: 0;
}
.calkulator__select--last {
    margin-left: 0;
    float: right;
}

.calkulator__left {
    width: 460px;
}
.calkulator__right {
    width: 220px;
}

.calkulator__step-next--finish .calkulator__foot-ul {
    opacity: 1;
    -webkit-transform: none;
    -webkit-transition: none;
    transform: none;
    transition: none;
}
.calkulator__submit{

}

.calkulator__right-box {
    height: 144px;
}
.calkulator__right .btn {
    height: 46px;
    width: 220px;

}
.calkulator__right-return {
    text-align: center;
    color: #96a0aa;
    font-size: 16px;
    line-height: 38px;
    position: relative;
    height: 171px;
    padding-top: 5px;
    margin: 12px auto;
    border-radius: 4px;
    background: rgba(216,220,231,.1);
    border: solid 1px rgba(150,160,170,.1);
}
.calkulator__right-return-b{
    display: block;
    color: #2b3246;
    line-height: 26px;
}
.calkulator__right-return-b span{
    font-size: 30px;
    padding-right: 3px;
    padding-top: 20px;
}

.calkulator__right-return-b #rpsn{
    font-size: 16px;
    padding-right: 3px;
    padding-top: 20px;
}

#date-set {
    width: 56px;
    padding: 0;
    margin-left: 15px;
    text-align: center;
    margin-top: 9px;
    font-size: 19px;
    color: black;
    font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;
    height: 26px;
}
#summ-set {
    color: black;
    text-align: center;
    margin-top: 9px;
    font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;
    font-size: 19px;
    height: 26px;

}
.calkulator__slider-box .return-diff {
    color: #2a3246;
    font-size: 19px;
    padding: 0 6px;
    min-width: 65px;
    text-align: right;
}
.calkulator__radio-btn {
    padding-top: 7px;
}
.calkulator__radio-btn .btn {
    width: 220px;
}
.calkulator__radio-btn .btn:first-child{
    margin-right: 17px;
}
.calkulator__radio-btn .btn:last-child{
    float: right;
}

.calkulator__box {
    -webkit-perspective: 1520px;
    perspective: 1520px;
}
.calkulator__step-next {
    padding: 29px;
    border-radius: 6px 6px 0 0;
    background: #fff;
    border: 1px solid #d8dce7;

    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out 0s;
}
.calkulator__step-next--finish {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.calkulator__step-next--active {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.calkulator__h3 {
    line-height: 24px;
    text-align: center;
    font-size: 20px;
}
.calkulator__input-box {
    position: relative;
    display: block;
    width: 220px;
    float: left;
    margin-bottom: 20px;
}
.calkulator__input-box:nth-child(3n+3) {
    float: right;
}
.calkulator__input-box:nth-child(3n+1) {
    margin-right: 20px;
}
.calkulator__input-box .input{
    z-index: 2;
    padding-top: 10px;
}
.calkulator__input-box sup{
    color: #ff0142;
    font-size: 16px;
    position: absolute;
    top: -4px;
    right: -6px;
}
.calkulator__placeholder {
    position: absolute;
    top: 14px;
    left: 20px;
    color: rgba(42,50,70,.6);
    transition:.5s;
    z-index: 1;
}
.calkulator__input-box--placeholder .calkulator__placeholder,
.calkulator__input-box .input:focus ~ .calkulator__placeholder {
    top: 2px;
    font-size: 12px;
}
.calkulator__input-box--placeholder .calkulator__placeholder {
    opacity: .5
}
.calkulator__input-box--placeholder .calkulator__placeholder sup {
    opacity: 0
}

.btn {

    display:inline-block;
    cursor: pointer;
    border: 0;
    text-align: center;
    padding:0 20px;
    height: 46px;
    position: relative;
    color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    transition:.5s;
}
.btn--red {
    background: #ff0142;
}
.btn--red:hover {
    background: #ff0142;
    color: #fff;
}
.btn--block {
    display: block;
}
.btn--radio {
    font-size: 14px;
    color: rgba(42,50,70,.6);
    padding: 10px 20px 0 34px;
    border: solid 1px #d9dce3;
    text-align: left;

}
.btn--radio:before {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 14px;
    left: 10px;
    content: '';
    border-radius: 50%;
    background: #eaecee;
}
.btn--checked {
    opacity: 1;
    background: #ffee2f;
    color: #2a3246;
    border-color: #ffee2f;
}
.btn--checked:before {
    width: 6px;
    height: 6px;
    opacity: 1;
    border: 5px solid #2a3246;
    background: #ffee2f;
}


.btn--radio:hover {
    color: #2a3246;
}

.visible-md,
.visible-sm {
    display: none;
}
.callback-form .select__value.select--error,
.loan-form .select__value.select--error,
.loan-form input[type="text"].input--error,
.loan-form input[type="tel"].input--error {
    border-color: red;
}

.callback-form .select__value.select--error,
.loan-form .select__value.select--error,
.loan-form input[type="text"].input--error,
.loan-form input[type="tel"].input--error {
    border-color: red;
}

.loan-form label.input--error {
    border: red solid 1px;
}

.calkulator__slider-wrapper {
    margin-bottom: 20px;
}
.rsform-submit-button, .rsform-button {
    background: #2E4148;
    border: solid 1px #fff;
    color: #fff;
    padding: 6px 12px;
}